<h1>Welcome, <%#= @user.first_name %></h1>

<h2>My Bookings</h2>
<ul>
<% @user.bookings.each do |booking| %>
<li> <%= link_to booking.item.title, item_path(booking.item) %> </li>
<% end %>
</ul>


<h2>My Items</h2>
<ul>
<% @user.items.each do |item| %>
<li> <%= link_to item.title, item_path(item) %> </li>
<% end %>
</ul>
