.button {
  background-color: #09821B;
  padding: 12px 12px 12px 12px;
  color: white;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.button:hover {
  color: white;
  text-decoration: none;
  background-color: #04420D;
}

.btn-center{
  display: block;
}

.search-button {
  background-color: #09821B;
  padding: 7px 12px;
  color: white;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
}
