.button {
  background-color: #09821B;
  padding: 12px 12px 12px 12px;
  color: white;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.button:hover {
  color: white;
  text-decoration: none;
  background-color: #04420D;
  transition: 0.2s;
}

.btn-center{
  display: block;
}

.search-button {
  background-color: #09821B;
  padding: 7px 12px;
  color: white;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: 'Open Sans', sans-serif;
}

.start-now-btn{
  padding: 12px 50px;
  background-color: #09821B;
  color: white;
  border-radius: 4px;
  font-size: 24px;

}

.start-now-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #04420D;
  transition: 0.2s;
}

#banner-typed-text {
  font-size: 36px;
}
