.button {
  background-color: #B298DC;
  padding: 4px 4px 4px 4px;
  color: white;
  border-radius: 4px;
}

.button:hover {
  color: white;
  text-decoration: none;
  background-color: #9A72DB;
}

.btn-center{
  display: block;
}


