.explain {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.explain-section {
  display: flex;
  justify-content: space-around;
}

.explain-card {
  width: 320px;
  box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  h3 {
    margin-top: 4px;
  }
  p {
    color: rgb(180, 180, 180);
    margin: 0;
  }
  img {
    width: 280px;
    border-radius: 8px;
  }
}

.item-card {
padding: 8px 8px 52px 8px;
margin: 16px 24px;
background-color: white;
box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
border-radius: 6px;
height: 400px;

  .item-card-img {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
}

.item-card-info {
display: flex;
justify-content: space-between;
padding: 16px 16px;
}

.item-card-title {
  text-align: center;
  margin-top: 16px;
  font-size: 20px;
}

// h1 {
//   text-align: center;
//   margin-top: 40px;
// }


.add-new-item-button {
  text-align: center;
}

.user-stories {
  text-align: center;
  margin-bottom: 24px;
  h2 {
    margin-bottom: 8px;
  }
}

.story-card {
  text-align: left;
  display: flex;
  padding: 24px 40px;
  background-color: rgb(220, 220, 220);
  border-radius: 16px;

  .story-avatar {
    border-radius: 50%;
    width: 225px;
  }


}

.story-text {
  padding-left: 24px;
  p {
    padding-top: 24px;
    padding-right: 48px;
    font-size: 20px;
    font-style: italic;

  }

  .story-location {
    text-align: right;
    padding-right: 72px;
    font-size: 18px;
    color: rgb(120, 120, 120);
  }
}

// .item-by-seller-card {
//   background-size: contain;
//   background-repeat: no-repeat;
//   padding: 8px 8px 52px 8px;
//   margin: 16px 24px;
//   background-color: white;
//   box-shadow: 4px 1px 16px 4px rgba(0, 0, 0, 0.1);
//   border-radius: 6px;
//   width: 200px;
// }

.item-seller-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;

}


.item-by-seller-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
}

.item-by-seller-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.item-by-seller-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.item-by-seller-card .item-seller-card-info {
  padding: 16px;
  width: 150px;
}






