.font {
  font-family: 'Open Sans', sans-serif;
}

.form-flexbox {
  display: flex;
  img {
  width:500px;
  height: 500px;
  margin-right: 60px;
  margin-top: 48px;

  }
}

.form-container {
 width: 80%;
 margin: 0 auto;
}

.new-form-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;

}

.form-control {
  border: 1px solid #04420D;
  border-radius: 4px;
}

.color {
  color:#04420D;
}
