.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
}

.navbar-logo {
  display: flex;
  align-content: center;

  p {
    font-family: $navbar-font;
    font-size: 24px;
    margin: 8px 0 8px 8px;
  }
}
