.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
}

.navbar-logo {
  display: flex;
  align-content: center;
}

.logo-text {
    font-family: $navbar-font;
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0 8px 8px;
    color: #09821B;
  }

.nav-text {
  text-align: center;


  p {
    font-size: 10px;
    margin: 0;
  }
}

.nav-link {
  padding: 0;
  font-size: 20px;
  color: #09821B !important;
}
